{{define "startpage"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="static/layout.css" />
  </head>
  <body>
    <div class="header">
      <h1>Welcome to our forum</h1>
    </div>

<section class="container">
 
  
    <a href="/homepage" id="button">Posts</a>
    <br /><br />
    <a href="/register" id="button">Register now</a>
    <br /><br />
    <a href="/login" id="button">Log in now</a>
    <br /><br />
    <a href="/logout" id="button">Sad to see you go</a>
  
  </section>
  </body>
</html>

{{end}}
